{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module"
  },
  "ignorePatterns": ["dist"],
  "plugins": ["@typescript-eslint"],
  "rules": {
    "block-spacing": ["error", "always"],
    "brace-style": ["error", "1tbs"],
    "comma-dangle": ["warn", "always-multiline"],
    "consistent-return": "off",
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "linebreak-style": ["error", "unix"],
    "lines-between-class-members": "off",
    "max-len": ["error", 120],
    "no-else-return": "off",
    "no-var": "error",
    "quotes": ["error", "single"],
    "semi": ["error", "always"],
    "object-curly-newline": "off",
    "object-curly-spacing": ["error", "always"],
    "@typescript-eslint/no-unused-vars": "off"
  }
}
